.s-navy {
  --ground: #051047;
  --onGround: #ffffff;
  --surface: #081b77;
  --onSurface: #ffffff;
  --brand: #34bde8;
  --onBrand: #051047;
  --line: #1b6b8e;
  --muted: #2794bb;
  background: var(--ground);
  color: var(--onGround);
}

.s-signal {
  --ground: #ffde17;
  --onGround: #051047;
  --surface: #fffce4;
  --onSurface: #051047;
  --brand: #051047;
  --onBrand: #ffde17;
  --line: #e5c727;
  --muted: #625643;
  background: var(--ground);
  color: var(--onGround);
}
